body{
    margin: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #2E282A;
    padding: 10px 0;
    box-shadow: 3px 0 5px black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header * {
    color: white !important;
}
main {
    padding: 30px 80px;
    margin-top: 50px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
}
ul{
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

li > * {
    margin-left: 5px;
    margin-right: 5px;
}

.projectImage {
    max-height: 150px;
    max-width: 150px;
}
.secondaryTxt {
    color: #858585
}